@{
    ViewBag.Title = "海基,小分子面膜褐藻醣膠,膠原蛋白,保濕面膜,術後面膜,膠原蛋白,保濕面膜,術後面膜 - 媒體報道";
}
    @model IList<MVCBase.Domain.Entity.Ba_Medium>
<style>
    #indexmain {
        overflow: hidden;
        width: 958px;
        height: 100%;
        background: url(/content/Base/Images/base_bg.png) no-repeat 0 0;
    }
    #listwrapper {
        width: 625px;
        margin: 26px auto 5px auto;
    }
    .listitem {
        height: 180px;
        overflow: hidden;
    }
    .listimg {
        float: left;
        width: 173px;
        height: 172px;
        margin: 3px 5px;
        background: url(/content/Base/Images/listimg_bg.png) no-repeat 0 0;
        overflow: hidden;
        vertical-align:middle;
        text-align: center;
    }
    .listimg table, .listimg tr {
        vertical-align: middle;
        height: 100%;
        width: 100%;
    }
    .listimg td {
        border: 0;
        vertical-align: middle;
        text-align: center;
    }
    .listimg td img {
        width: 134px;
        height: 120px;
    }
    .itemcontent {
        width: 420px;
        height: 100%;
        float: left;
        margin-left: 20px;
        _margin-left: 10px;
        color: #FFF;
        font-family: 細明體;
    }
    .itemcontent a {
        color: #FFF;
        text-decoration: none;
        font-weight: bold;
    }

    .itemtitle {
        font-size: 110%;
    }
    .itemtime {
        margin-top: 20px;
    }
    .itemtitle, .itemdescription {
        margin-top: 15px;
    }

    .page_l{ background: url(/content/Base/Images/page.png) no-repeat 0 0; width: 22px; height: 31px; display: inline-block; cursor: pointer; } 
    .page_p{ background: url(/content/Base/Images/page.png) no-repeat 0 -36px; width: 26px; height: 26px;display: inline-block; cursor: pointer;} 
    .page_r{ background: url(/content/Base/Images/page.png) no-repeat 0 -67px; width: 22px; height: 31px; display: inline-block; cursor: pointer;} 
</style>
<div id="indexmain" class="clearfix">
    <div id="listwrapper">
        @foreach (var item in Model)
        {
            string tempimg = MVCBase.Common.common.GetRegValue("<img .*?/>",item.Ns_Content);
            tempimg = tempimg.Length > 0 ? tempimg : "<img src=\"/content/Base/Images/defaultimg.jpg\" />";
            <div class="listitem clearfix"><div class="listimg"><a href="@Url.Action("medium", "detail", new { id = @item.Ns_ID })"><table><tr><td>@Html.Raw(tempimg)</td></tr></table></a></div>
                <div class="itemcontent">
                    <div class="itemtime">@Convert.ToDateTime(item.Ns_BuildTime).ToString("yyyy/MM/dd")</div>
                    <div class="itemtitle"><a href="@Url.Action("medium", "detail",new {id=@item.Ns_ID})">@item.Ns_Title</a></div>
                    <div class="itemdescription">@item.Ns_SubTitle</div>
                </div>
            </div>
        }
    </div>
    <input type="hidden" id="currentpage" name="currentpage" value="@ViewBag.currentpage" />
    <div id="pageinfo">@Html.Raw(ViewBag.pageinfo)</div>
</div>

<script type="text/javascript">
    $(function () {
        $("header").addClass("Base_menubar6");
    });
    function topage(tt) {
        var tid = $(tt).attr("id");
        if (tid != undefined)
            tid = tid.replace("page", "");
        else {
            var tclass = $(tt).attr("class");
            if (tclass == "page_l")
                tid = parseInt($("#currentpage").val()) - 1;
            else if (tclass == "page_r")
                tid = parseInt($("#currentpage").val()) + 1;
        }
        window.location.href = "/list/medium/" + tid;
    }
</script>